In [94]:
import pandas as pd
import json
import requests
import datetime
from bs4 import BeautifulSoup
date_time = datetime.datetime.now()-datetime.timedelta(2)
date_time = date_time.strftime("%Y%m%d")
url = f"https://www.twse.com.tw/rwd/zh/afterTrading/MI_INDEX?date={date_time}&type=ALLBUT0999&response=json"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}
print("getting tws_{} ...".format(date_time))
response = requests.get(url, headers=headers)
table = json.loads(response.text)['tables']
field = table[8]['fields']
content = table[8]['data']

df_dict = dict()
for i in range(len(field)):
    df_dict[field[i]] = [j[i] for j in content]
df= pd.DataFrame(df_dict)
df.columns = ["Stock code", "Stock name", "Volume of shares traded", "Number of transactions", "Transaction amount", "Opening price", "Highest price", "Lowest price", "Closing price", "Price change (+/-)", "Price difference", "Last displayed buying price", "Last displayed buying volume", "Last displayed selling price", "Last displayed selling volume", "PE ratio"]
diff = [BeautifulSoup(x).string for x in df["Price difference"].to_list()]
change = [BeautifulSoup(x).string for x in df["Price change (+/-)"].to_list()]
Price_difference = []
for i in range(len(diff)):
    Price_difference.append(change[i] + diff[i])
df["Price difference"] = Price_difference
df.drop(columns=["Price change (+/-)"],inplace=True)
df = df[['Stock code', 'Stock name', 'Volume of shares traded',
       'Number of transactions', 'Transaction amount', 'Opening price',
       'Highest price', 'Lowest price', 'Closing price', 'Price difference',
       'PE ratio']]
df.columns = ["ID","NAME","SHARES_VOLUMN","TRANSACTIONS_NUMBER","TRANSACTION_MONEY","OPEN","HIGH","LOW","CLOSE","DIFF","PE"]

getting tws_20230317 ...

Index(['Stock code', 'Stock name', 'Volume of shares traded',
       'Number of transactions', 'Transaction amount', 'Opening price',
       'Highest price', 'Lowest price', 'Closing price', 'Price difference',
       'PE ratio'],
      dtype='object')

In [ ]:
y = int(time.strftime("%Y"))-1911
date = time.strftime(str(y) + "/%m/%d")
url = "https://www.tpex.org.tw/web/stock/aftertrading/otc_quotes_no1430/stk_wn1430_result.php?l=zh-tw&o=htm&d={}&se=EW&s=0,asc,0".format(
    date)
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}
print('getting te_{} ...'.format(time.strftime('%Y%m%d')))
data = requests.get(url, headers=headers)
a = data.content.decode('utf-8')
b = BeautifulSoup(a, features="lxml")
t = b.findAll('tr')
arr = []
if t[2].findAll("td")[0].string == '共0筆':
    print('no data')
    raise requests.exceptions.ConnectionError
for i in t[1:]:
    i = i.findAll("td")
    arr.append([x.string for x in i])
df = pd.DataFrame(arr)
df.columns = df.iloc[0]

In [5]:
import requests
import pandas
import json
url = "https://www.tpex.org.tw/web/stock/aftertrading/peratio_analysis/pera_result.php?l=zh-tw&o=json&d=112/03/21&c=&s=0,asc"
header = {'User-Agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"}
response = requests.get(url)

In [6]:
response_data = json.loads(response.text)

In [12]:
content = response_data["aaData"]
column_name = ["ID","NAME","PE","DIVIDENED","DIVIDENED_YEAR","YIELD","PB"]
content_dict = {}
for i in range(7):
    content_dict[column_name[i]] = [j[i] for j in content]

In [14]:
import pandas as pd
df = pd.DataFrame(content_dict)

In [15]:
df

       ID   NAME     PE    DIVIDENED DIVIDENED_YEAR YIELD    PB
0    1240   茂生農經  48.00   2.50000000            110  5.48  1.47
1    1258  其祥-KY  16.15   0.00000000            110  0.00  1.60
2    1259     安心  18.56   2.60000000            111  3.49  1.22
3    1264     德麥  15.28  12.00000000            110  4.44  3.59
4    1268   漢來美食  42.86   3.00000000            110  2.27  3.01
..    ...    ...    ...          ...            ...   ...   ...
802  9949     琉園    N/A   0.00000000            111  0.00  2.48
803  9950    萬國通    N/A   0.00000000            110  0.00  6.09
804  9951     皇田  14.74   3.30000000            110  4.62  1.65
805  9960    邁達康   8.49   2.20000000            111  7.63  1.68
806  9962     有益   9.13   1.80000000            111  8.18  1.73

[807 rows x 7 columns]